.layout {
    display: flex;
    height: 100vh;
}
  
.sidebar {
    width: 240px;
    border-right: 1px solid #ddd;
    overflow-y: auto;
}
  
.sidebar-menu .p-panelmenu .p-panelmenu-content {
    padding: 0;
}

.content {
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
}

.sidebar-menu {
    flex: 1 1 auto;
}

.sidebar-footer {
    padding: 1rem;
    border-top: 1px solid #eee;
    text-align: center;
    flex-shrink: 0;
}

.post-btn {
    width: 100%;
}